<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head th:replace="plantilla/plantilla :: head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header" />
        <div class="contenido">
            <h2 th:text="#{articulo.titulo}">Gestión de Clientes</h2>
            <a th:href="@{/articulo/nuevo}" th:text="#{articulo.nuevo}" sec:authorize="hasRole('ROLE_ADMIN')">Nuevo Articulo</a>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{articulo.descripcion}">Descripcion</th>
                            <th th:text="#{articulo.precio}">Precio</th>
                            <th th:text="#{articulo.existencias}">Existencias</th>
                            <th th:text="#{articulo.activo}">Activa</th>
                            <th th:text="#{accion.eliminar}" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                            <th th:text="#{accion.actualizar}" sec:authorize="hasRole('ROLE_ADMIN')">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulo}">
                            <td th:text="${articulo.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(articulo.precio,3,2)}" style="text-align: right"></td>
                            <td th:text="${articulo.existencias}" style="text-align: center"></td>
                            <td><input type="checkbox" name="activa" th:checked="${articulo.activo}"></td>
                            <td> <a th:href="@{/articulo/eliminar/} + ${articulo.idArticulo}" th:text="#{accion.eliminar}" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</a></td>
                            <td> <a th:href="@{/articulo/modificar/}+${articulo.idArticulo}" th:text="#{accion.actualizar}" sec:authorize="hasRole('ROLE_ADMIN')">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulo == null or articulo.empty}">
                <p th:text="#{articulo.no_mostrar}"> No tenemos lista de articulos que mostrar...</p>
            </div>
        </div>
        <footer th:replace="plantilla/plantilla :: footer" />
    </body>
</html>

