<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head th:replace="plantilla/plantilla :: head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header" />
        <section th:replace="cliente/fragmentosCliente :: botonesAgregar"/>
        <section th:replace="cliente/fragmentosCliente :: listadoClientes"/>
        <section th:replace="cliente/fragmentosCliente :: agregarCliente"/>

        <footer th:replace="plantilla/plantilla :: footer" />
    </body>
</html>

