<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org
    xmlns="http://www.w3.org/1999/xhtml>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header />
        <h1>Gestion Clientes </h1>
        <a th:href="@{/}">Regresar</a>
        <<form method="post"
            th:action="@{/guardarCliente}"
            th:object="${cliente}">
            <input type="hidden" name="idCliente" th:field="*{id_cliente}"/>
            <label for="nombre">Nombre: </label>
            <input type ="text" name="nombre" th:field="*{nombre}"/>
            <br/>
            <label for="apellidos">Apellidos: </label>
            <input type ="text" name="apellidos" th:field="*{apellidos}"/>
            <br/>
            <label for="correo">Correo: </label>
            <input type ="email" name="correo" th:field="*{correo}"/>
            <br/>
            <label for="telefono">Telefono </label>
            <input type ="tel" name="telefono" th:field="*{telefono}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
        <footer th:fragment="footer">
            <p>&COPY Derechos Reservados 2022</p>
        </footer>
    </body>
</html>
